a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.main-content {
  display: flex;
}

.news-block {
  width: 80%;
}

.weather-block {
  background-color: palevioletred;
  top: 50%;
  left: 80%;
  position: fixed;
  width: 50%;
}

@media (max-width: 900px) {
  .main-content {
    display: block; 
  }
  .weather-block {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    text-align: center;
  }
}

html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1; }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  width: 1px;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }